img {
  border-radius: 50%;
}

.c-story-user-item {
  border-radius: 50%;
}

.avatar {
  padding: 3px;
  margin: 8px;
  width: 75px;
  height: 75px;
  border: 2px solid rgb(202, 47, 156);
  border-radius: 50%;
}